
html , body{
    font-size: 16px;
}
.color-green{
    color: #b2c831
}
.color-hint{
    color : #e95f71 ;
    font-size: 1.6rem;
    font-weight: bold!important;
}
.block {
    padding: 20px;
    background: #2d3035;
    color: #8a8d93;
    margin-bottom: 30px;
}
.statistic-block {
    padding: 20px;
    background: #2d3035;
    color: #8a8d93;
}
.block .title strong:first-child {
    font-size: 1.25rem;
    color: #a5a7ab;
}
.table{margin-bottom:0}.table td,.table th{border-color:#343a40}.table thead th{border:none}.table-striped tbody tr{-webkit-transition:all 0.3s;transition:all 0.3s}.table-striped tbody tr:nth-of-type(odd){background-color:#282b2f}.table-striped tbody tr:nth-of-type(odd):hover{background-color:#26292d}.table-bordered td,.table-bordered th{border-color:#343a40}@media (max-width: 991px){section.tables{padding:0}}

.card-weather {
    background: transparent!important;
    border : 0!important;
    // background: #e1ecff;
    // background-image: linear-gradient(to left bottom, #d6eef6, #dff0fa, #e7f3fc, #eff6fe, #f6f9ff); 
}
    .card-weather .card-body {
    //   background: #ffffff; 
    }
      .card-weather .card-body:first-child {
        background: url("../images/samples/weather.svg") no-repeat center;
        background-size: cover; }
    .card-weather .weather-date-location {
      padding: 0 0 38px; }
    .card-weather .weather-data {
      padding: 0 0 4.75rem; }
      .card-weather .weather-data i {
        font-size: 5.313rem;
        line-height: 1; }
    .card-weather .weakly-weather {
    //   background: #ffffff;
      overflow-x: auto; }
      .statistic-block{
          color : #f2f2f2;
      }
      .card-weather .weakly-weather .weakly-weather-item {
        flex: 0 0 14.28%;
        border-right: 1px solid #8a8d93;
        padding: 1rem;
        text-align: center; }
        .card-weather .weakly-weather .weakly-weather-item i {
          font-size: 4rem; }
        .card-weather .weakly-weather .weakly-weather-item:last-child {
          border-right: 0; }
        .card-weather .weakly-weather .weakly-weather-item .symbol {
          color: #c2c2c2;
          font-size: 1.875rem;
          font-weight: 300; }

.messages-block a.message{color:#8a8d93;text-decoration:none;padding:10px;border-bottom:1px solid #282b2f}.messages-block a.message:hover{background:#282b2f}.messages-block a.message:last-of-type{border-bottom:none}.messages-block .title{margin-bottom:30px}.messages-block .title strong{font-size:1.25rem}.messages-block .title span{font-weight:300;font-size:0.95rem}
.messages-block .profile{
    width:100px;
    height:100px;
    border-radius:100%;
    background: gray;
    line-height: 100px;
    text-align: center;
    margin-right:25px;
    position:relative
}
.messages-block .profile img{width:100%;height:100%;border-radius:50%}.messages-block .profile .status{width:12px;height:12px;border-radius:50%;border:2px solid #fff;position:absolute;top:2px;right:2px}.messages-block .profile .status.online{background:#28a745}.messages-block .profile .status.away{background:#ffc107}.messages-block .profile .status.busy{background:#dc3545}.messages-block .profile .status.offline{background:#999}.messages-block .content strong{font-size:1.2rem}
.messages-block .content .date{color:#70737a}
.profile i {
    font-size: 5rem;
    color: #c2c2c2;
}